.sponsor-above {
	margin: 10px;
	font-size: 1.1em;
	padding: 10px;
	border-radius: 7px;
	background-color: #ECD5D8; /* default color */
}
div.sponsor-above {
    margin: 0 auto; 
    text-align: center;
	overflow-x: auto;
	overflow: hidden;
	font-size: 1.1em;
	line-height: 1.5em;
}
img.sponsor-above {
    width: 100%;
    height: auto;
}